<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv = "Content-type" content = "text/html;charset=utf8"/>
        <title>Database managment page</title>
    </head> 
    <body>
        <h3><ul><b>Task 1. Insert new custmer record:</b></ul></h3>
            <form action = "task1" method = "POST">
                Customer ID <input type = "text" name = "customerid"> <br>
                Name <input type = "text" name = "name"> <br>
                Email <input type = "text" name = "email"> <br>
                <input type = "submit" name = "Insert Customer"><br>
            </form>
            {{msg1}}<br>
            {{error1}}<br>
            
        <h3><ul><b>Task 2. Insert new ticket:</b></ul></h3>
            <form action = "task2" method = "POST">
                Ticket ID <input type = "text" name = "ticketid"> <br>
                Problem <input type = "text" name = "problem"> <br>
                Status <input type = "text" name = "status"> <br>
                Priority <input type = "text" name = "priority"> <br>              
                Customer ID <input type = "text" name = "customerid"> <br>
                Product ID <input type = "text" name = "productid"> <br> 
                <input type = "submit" name = "Insert Ticket"><br>
            </form>
             {{msg2}}<br>
            {{error2}}<br>
        
        <h3><ul><b>Task 3. Insert new ticket update:</b></ul></h3>
            <form action = "task3" method = "POST">
                Ticket update ID <input type = "text" name = "ticketupdateid"> <br>
                Message <input type = "text" name = "message"> <br>                
                Ticket ID <input type = "text" name = "ticketid"> <br>
                Staff ID <input type = "text" name = "staffid"> <br> 
                <input type = "submit" name = "Insert Update"><br>
            </form>
             {{msg3}}<br>
            {{error3}}<br>
        <h3><ul><b>Task 4. View Open Tickets:</b></ul></h3>
            <form action = 'task4' method = 'GET'>
                <input type = "submit" value = "View Tickets">
            </form>
            {{msg4}}
        <h3><ul><b>Task 5. Update Ticket </b></ul></h3>
            <form action = "task5" method ="POST">
                Ticket ID to close: <input type = "text" name = "ticketidupdate">
                <input type = "submit" name = "Close Ticket">
            </form>
            {{msg5}}<br>
            {{error5}}<br>
        <h3><ul><b>Task 6. List All Updates For a Ticket</b></ul></h3>
            <form action = "task6" method = "GET">
                Ticket ID<input type = "text" name = "ticketidupdates">
                <input type = "submit" name = "See Tickets">
            </form>
            {{msg6}}<br>
        <h3><ul><b>Task 7. Status of Closed Tickets</b></ul></h3>
            <form action = "task7" method = "GET">
                <input type = "submit" value = "Veiw Status">
            </form>
            {{msg7}}<br>
        <h3><ul><b>Task 8. Delete Customer</h3></ul></b>
            <form action = "task8" method = "POST">
                Customer ID to delete: <input type = "text" name = "ticketid">
                <input type = "submit" name = "Submit">
            </form>
            {{msg8}}<br>
            {{error8}}<br>
    </body>
</html>