<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv = "Content-type" content = "text/html;charset=utf8"/>
        <title>Task 2 Page</title>
    </head> 
    <body>
        <table border = 1>
            <tr>
                <th>Ticket ID </th><th>Problem</th><th>Status </th><th>Priority </th><th>Logged Time</th><th>Customer ID</th><th>Product ID</th>
            </tr>
            {% for row in rows %}
                <tr>
                    {% for item in row %}
                        <td>
                            {{item}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {{msg1}}<br>
        <form action = "/">
        <input type = "submit" value = "Home" >
        </form>
    </body>
</html>