<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv = "Content-type" content = "text/html;charset=utf8"/>
        <title>Task 7 Page</title>
    </head> 
    <body>
        <table border = 1>
            <tr>
                <th>Ticket ID </th><th>Last update</th><th>First Update</th><th>No. of Updates</th>
            </tr>
            {% for row in rows %}
                <tr>
                    {% for item in row %}
                        <td>
                            {{item}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form action = "/">
        <input type = "submit" value = "Home" >
        </form>
    </body>
</html>